# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Docker artifacts
*.log
*.pid
*.db
*.sqlite3

# Byte-compiled
*.pyo
*.pyd

# pytest cache
.pytest_cache/
.cache/

# VSCode
.vscode/

# Docker
*.tar

# Terraform
*.terraform/
*.terraform.lock.hcl.backup
*.tfplan
# Terraform
.terraform/
.terraform.lock.hcl


# Datos generados
data/raw
data/processed/
data/interim/
data/labels/*.csv

